node_modules
backend/node_modules
frontend/node_modules
frontend/build
frontend/.git_old
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*
.env
.env.*
.env.local
.env.*.local
.env.production
.env.development
*.env
!.env.example
!backend/.env.example
!frontend/.env.example
*.zip
*.tar.gz
*.rar
*.7z

